
<div class="row">
	<div class="col-lg-4">
		<div class="row">
			<div class="col-lg-1">
			</div>
			<div class="col-lg-5">
				<div class="input-group custom-search-form">
					<input type="text" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
						</span>
				</div>
			</div>
		</div>					
	</div>
	<div class="col-lg-4"><center><h4> Repository Details </h4></center></div>
	<div class="col-lg-4">		
		<div class="row">
			<div class="col-lg-6"></div>
			<div class="col-lg-1">
				<label><h5>Sort</h5></label>
			</div>
			<div class="col-lg-4">
				<div class="form-group">
						<select class="form-control">
							<option>Name</option>
							<option>Date</option>
						</select>
				</div>
			</div>
			
		</div>
	</div>						
</div>

<div class="panel panel-default">
	<div class="panel-body"> 
		<div ng-repeat="tag in tagsList">
			<li>
				{{tag}}
				<button type="button" ng-click="deleteTag(tag)">Delete Me!</button>
			</li>
		</div>
	</div>
</div>
