
<div class="row">
	<div class="col-lg-4">
		<div class="row">
			<div class="col-lg-1">
			</div>
			<div class="col-lg-5">
				<div class="input-group custom-search-form">
					<input type="text" class="form-control" ng-model="queryTag">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
						</span>
				</div>
			</div>
		</div>					
	</div>
	<div class="col-lg-4"><center><h4> Repository Details </h4></center></div>
	<div class="col-lg-4">		
		<div class="row">
			<div class="col-lg-6"></div>
			<div class="col-lg-1">
				<label><h5>Sort</h5></label>
			</div>
			<div class="col-lg-4">
				<div class="form-group">
						<select class="form-control" ng-model="orderProp">
							<option value="name">Name Asc.</option>
							<option value="-name">Name Dec.</option>
						</select>
				</div>
			</div>
			
		</div>
	</div>						
</div>

<div class="panel panel-default">
	<div class="panel-body"> 
		<div class="panel-body">	
			<div class="wrap">
				<div id='content'>
					<div class="row">
						<div class="col-lg-3">
							<h3>Repository</h3>
						</div>
						<div class="col-lg-1">
							<h3>Tag</h3>
						</div>		
					</div>	
					<div  ng-repeat="tag in tagsList | filter:queryTag | orderBy:orderProp">	
						<div class="alert alert-success">
                               .	
							<div class="row">							
								<div class="col-lg-3">
									<h4>{{repository}}</h4>
								</div>
								<div class="col-lg-1">
									<h4>{{tag.name}}</h4>
								</div>
								<div class="col-lg-1">
									<!--	<button type="button" class="btn btn-outline btn-danger" ng-click="deleteTag(tag.name)">Delete</button> -->
										<button type="button" class="btn btn-warning btn-circle" ng-click="deleteTag(tag.name)"><i class="fa fa-times"></i></button>
								</div>
								<div class="col-lg-1">
									<button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#tagModal" >Edit Tag</button>
									<!-- Modal -->
									<div class="modal fade" id="tagModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
													<h4 class="modal-title" id="myModalLabel">Edit Tag</h4>
												</div>
												<div class="modal-body">
													<form role="form" >
														<div class="form-group">
															<label>Enter IP address</label>
															<input class="form-control" placeholder={{tag.name}} ng-model="newTag">
														</div>
													</form>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
													<button type="button" class="btn btn-primary" ng-click="changeTag(tag.name,newTag)">Save changes</button>
												</div>
											</div>
											<!-- /.modal-content -->
										</div>
										<!-- /.modal-dialog -->
									</div>
									<!-- /.modal -->
								
								</div>		
										 
							</div>
						
						</div>
					</div>	
				</div>
			 </div>
		</div>
	</div>	
</div>
